.header {
    border-bottom: 1px solid var(--color-bottom);
    align-items: baseline;
}
@media screen and (min-width: 768px){
.header__menu, .is-open,
.menu-modal, .is-open{
    display: none;
}}

@media screen and (min-width: 768px) {
    .header {
        height: 80px;
          display: flex;
          align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .site-navigation {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin-left: 88px;
    margin-right: 84px;
}}

@media screen and (max-width: 767px) {
        .site-header 
        {display: flex;
            height: 60px;
        align-items: center;}}

@media screen and (min-width: 768px){ 
    .site-header__nav {
    display: flex;
    align-items: center;
}}

                      
// .container.site-header {
//     display: flex;
// }
// @media screen and (min-width: 1200px) {
//     .site-header__nav {
//             display: flex;
//         }
// }
@media screen and (max-width: 767px) {
.site-header__nav {

    display: flex;
        align-items: center;}}
@media screen and (max-width: 767px) {
.site-header__logo {
                margin-right: 275px;
                text-decoration: none;
                font-family: "Raleway";
                
                font-weight: 700;
                font-size: 24px;
                line-height: 1.2;
                letter-spacing: .03em;}}

                        @media screen and (max-width: 767px){
                                  .is-open {
                                     overflow: hidden; 
                                }}


@media screen and (min-width: 768px) {
    .site-header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--primary-text-color);
}}

        @media screen and (max-width: 767px) {
        .header__menu {
            position: fixed;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            right: 10px;
            margin: 0;
            padding: 0;
            border: none;
            background: none;
            width: 40px;
            height: 40px;
            z-index: 4;
            fill: #212121;
            transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
            overflow-y: scroll;
        }}

@media screen and (max-width: 767px) {
    .header__menu--close {
    display: block;
    color: var(--accent-color);
    
}}

@media screen and (max-width: 767px) {
    .header__menu--open {
    display: none;
    color: var(--accent-color);
    
    
}}


                @media screen and (max-width: 767px) {
                    .menu-modal {
                    position: fixed;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background-color: #fff;
                    padding: 48px 40px;
                    overflow-y: scroll;
                    transition: 2500mscubic-bezier(0.4, 0, 0.2, 1);
                    z-index: 3;
                }}

                @media screen and (max-width: 767px) {
                .header__menu.is-open .header__menu--close {
                    display: none;
                }}

           @media screen and (max-width: 767px) {
           .header__menu.is-open .header__menu--open {
               display: block;
           }}
        
                   @media screen and (max-width: 767px) {
                   .menu-modal.is-open {
                       display: none;
                   }}

         @media screen and (max-width: 767px) {
         .menu-modal__item {
             margin-bottom: 32px;
         }}
      

                                 @media screen and (max-width: 767px) {
                                 .menu-modal__link {
                                     font-weight: 500;
                                     font-size: 40px;
                                     line-height: 1.17;
                                     letter-spacing: .02em;
                                     color: var(--black-color);
                                     margin-bottom: 32px;}}

                                         @media screen and (max-width: 767px) {
                                             .menu-modal_link--current {
                                                 color: var(--accent-color);
                                             }
                                         }

                        @media screen and (max-width: 767px) {
                        .menu-modal__item:last-child {
                            margin-bottom: 274px;
                        }}

                                                @media screen and (max-width: 767px) {
                                                .menu-modal__contacts--item {
                                                    margin-bottom: 32px;
                                                }}

         @media screen and (max-width: 767px) {
         .contacts__link--color {
             font-weight: 500;
             font-size: 34px;
             line-height: 1.17;
             letter-spacing: .02em;
             color: var(--accent-color);
         }}

                 @media screen and (max-width: 767px) {
                 .menu-modal__contacts--item:last-child {
                     margin-bottom: 64px;
                 }}
                 


                  @media screen and (max-width: 767px) {
                  .contacts__link {
                      font-weight: 500;
                      font-size: 24px;
                      line-height: 1.16;
                      letter-spacing: .02em;
                      color: var(--primary-text-color);
                  }}

                  @media screen and (max-width: 767px) {
                  .menu-modal__social--network:not(:last-child) {
                      margin-right: 10px;
                      border-right: 1px solid rgba(33, 33, 33, .2);
                  }}
        
                  @media screen and (max-width: 767px) {
                  .menu-modal__social--network {
                      display: inline-flex;
                      padding-right: 10px;
                  }}

@media screen and (max-width: 767px) {
.menu-modal__social--border {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: .02em;
    color:  var(--accent-color);
}}

.site-header__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--title-text-color);

    
}

.site-header__logo--web {
    color: var(--accent-color);
}

.site-header__logo--studio {
    color: var(--black-color);
}

.footer-logo__link--studio {
    color: var(--white-color);
}
// @media screen and (min-width: 1200px){
// .site-navigation {
//     display: flex;
//     margin: 0px;
//     list-style: none;
//     font-style: normal;
//     padding: 0px;
//     margin-left: 93px;

//     &__reference :hover,
//         &__reference :focus {
//             color: var(--accent-color);
//         }
//                 &__reference:last-child {
//                     margin-right: 0px;
//                 }
// }}
@media screen and (max-width: 767px){
    .site-navigation {
            display: none;
            margin: 0px;
            list-style: none;
            font-style: normal;
            padding: 0px;
            
    
            &__reference :hover,
            &__reference :focus {
                color: var(--accent-color);
            }
    
            &__reference:last-child {
                margin-right: 0px;
            }
        }
    }
// .site-navigation__reference {
//     transition: 250ms var(--animation-time);
// }


// @media screen and (min-width: 1200px){
// .site-navigation__reference {
//     margin-right: 50px;
// }}
@media screen and (max-width: 767px){
    .site-navigation__reference {
            margin-right: 50px;
        }
    }

        @media screen and (min-width: 768px) {
        .site-navigation__reference:not(:last-child) {
            margin-right: 50px;
        }}

// .site-navigation__reference--current {
//     color: var(--accent-color);
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     display: flex;
//     flex-wrap: wrap;
//     display: block;
//     text-decoration: none;
//     position: relative;
//     transition: 250ms var(--animation-time);
// }}

@media screen and (min-width: 768px) {
    .site-navigation__reference--current{
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: .02em;
    color: var(--primary-text-color);
    transition: 250ms var(--timing-function);
    fill: var(--icon-color);
    position: relative;
}}

@media screen and (max-width: 767px) {
    .site-navigation__reference--current {
            color: var(--accent-color);
            padding-top: 32px;
            padding-bottom: 32px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            display: flex;
            flex-wrap: wrap;
            display: block;
            text-decoration: none;
            position: relative;
            transition: 250ms var(--animation-time);
        }
    }

 .site-navigation{
 &__reference--current::after {
     content: "";
    position: absolute;
    display: block;
     bottom: 0;
    width: 100%;
     height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
    transition: 250ms var(--animation-time);
}}

 @media screen and (min-width: 1200px) {
 .site-navigation__reference--link {
    color: var(--title-text-color);
    padding-top: 32px;    padding-bottom: 32px;
    font-weight: 500;
     font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    flex-wrap: wrap;
    display: block;
    transition: 250ms var(--animation-time);
}}

@media screen and (max-width: 767px) {
.site-navigation__reference--link {
        color: var(--title-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        flex-wrap: wrap;
        display: block;
        transition: 250ms var(--animation-time);
    }
}
 .site-navigation__reference--last {
     color: var(--title-text-color);
     padding-top: 32px;
     padding-bottom: 32px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     display: flex;
     flex-wrap: wrap;
    display: block;
     transition: 250ms var(--animation-time);
}

//  .header-contacts {
//     display: flex;
//      align-items: center;
//     list-style: none;
//      margin: 0px;
//      padding: 0px;

//      &__phone:hover,
//         &__phone:focus {
//             color: var(--accent-color);
//             fill: var(--accent-color);
//         }
    
//         &__mail:hover,
//         &__mail:focus {
//             color: var(--accent-color);
//             fill: var(--accent-color);
//         }
//  }

@media screen and (min-width: 768px) and (max-width: 1199px) {
   .header-contacts {
    display: block;
}}

@media screen and (max-width: 767px) {
.header-contacts {
    display: none;
}}

@media screen and (max-width: 767px) {
    .conteiner {
        display: flex;
            width: 480px;
                width: 480px;
    }
}


 .header-contacts__phone {
     color: var(--primary-text-color);
     display: flex;
     font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
     letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
   list-style: none;
font-style: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    fill: currentColor;
     transition: 250ms var(--animation-time);
 }



//  .header-contacts__contact {
//      margin-left: 312px;
//     fill: currentColor;
//  }

// .header-contacts__mail {
//     color: var(--primary-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     list-style: none;
//     font-style: normal;
//     margin: 0px;
//     align-items: center;
//     justify-content: center;
//     display: inline-flex;
//     transition: 250ms var(--animation-time);
//     position: relative;
//     fill: var(--accent-color);
// }

// .header-contacts__mail--icon {
//     margin-right: 10px;
//     fill: currentColor;
// }

// .header-contacts__phone--icon {
//     margin-right: 10px;
//     fill: currentColor;
// }
// .header-contacts{
// &__contact:last-child {
//     margin-left: 30px;
// }}

@media screen and (max-width: 767px) {
    .contacts__link--color {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: .02em;
        color: var(--accent-color);
    }
}

  @media screen and (min-width: 768px) {
      .site-header {
          height: 80px;
          display: flex;
          align-items: center;
      }
  }