

                @media screen and (min-width: 768px) {
.hero {
        background: var(--background-color-footer-hero);
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/team.jpg);
        height: 400px;
        max-width: 1600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        padding-bottom: 118px;

        &-button.primary:hover,
        &-button.primary:focus {
            background-color: var(--accent-color);
            color: var(--white-color);
        }
    }}
        @media screen and (min-width: 1200px) {
            .hero {
                background: var(--background-color-footer-hero);
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/team.jpg);
                height: 600px;
                max-width: 1600px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-left: auto;
                margin-right: auto;
                padding-top: 200px;
                padding-bottom: 200px;
    
                &-button.primary:hover,
                &-button.primary:focus {
                    background-color: var(--accent-color);
                    color: var(--white-color);
                }
            }
        }

                @media screen and (max-width: 767px) {
                .hero {
                    min-width: 480px;
                    padding: 118px 0;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    height: 400px;
                    min-width: 480px;
                    margin-left: auto;
                    margin-right: auto;
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }}


@media screen and (max-width: 767px) {
    .hero-title {
    width: 360px;
    height: 84px;
    text-align: center;
    padding-bottom: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #fff;
    margin-left: auto;
        margin-right: auto;
}}
@media screen and (min-width: 768px){
.hero-title {
    color: var(--white-color);
    width: 696px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
        font-size: 26px;
        line-height: 1.61;
}}

.hero-button.primary {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
}

@media screen and (max-width: 767px) {
   .hero-button.primary {
    padding: 10px 32px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .06em;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;}}

    

.hero-button.primary {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0px;
    border-radius: 4px;
}
@media screen and (min-width: 1200px) {
    .hero-title {
        color: var(--white-color);
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
       max-width: none;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

